<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
	<title>Fritter: <%= title %></title>
</head>
<body>
	<% include partials/header.ejs %>
	<div class="container">
		<h1><%= title %></h1>
		<div id="myTweet">
			<form action="/tweets/new" method="POST" >
				<div class="input-group">
					<input type="text" name="body" class="form-control" placeholder="Anything to Say?" required/> 
					<span class="input-group-btn"><button type="submit" class="btn btn-default">Tweet</button></span>
				</div>
			</form>
		</div> <!-- My Tweet Input Box -->
		<div id="tweetFeed">
			<h3>Tweet Feed</h3>
			<% tweets.forEach(function(tweet){ %>
			<li>
				<div class="tweetContainer"> 
					<span><%= tweet.creator.username %> - <i><%= tweet.date %> </i> 
					<%= tweet.body %>
					<% if(name === tweet.creator.username){ %></span> 
					<form action="/tweets/delete" method="POST" >
						<div class="input-group">
							<input type="hidden" class="form-control" value=<%=tweet._id%> name="id"/> 
							<button type="submit" class="btn btn-default">Delete</button>
						</div>
					</form>
					<% } %>
				</div> <!-- Tweet Container -->
			</li>
			<% }) %>
		</div> <!-- Tweet Feed -->
	</div> <!-- Container -->

	<% include partials/footer.ejs %>
	<% include partials/jsdefaults.ejs %>
</body>
</html>
